  @rem:40rem;
.record{
    .ui-list{
        font-size: .6rem;
        padding: 0 .75rem;
        -webkit-user-select:none;
        user-select:none;
        .txt{
            color: #333;
        }
    }
    .mint-popup-right {
        left: 50px;
        height: 100%; 
        z-index: 1000!important;
    }
    .v-modal{
        z-index: 999!important;
    }
    .pop-hd{
        height: 2.2rem;
        line-height: 2.2rem;
        padding-left: 20/@rem;
        background-color: #ec0022;
        color: #fff;
    }
    .mint-popup-right{
        border-radius: 0!important;
        padding: 0!important;
    }
    .pob-box{
        padding: 20/@rem 30/@rem;
        .hd{
        font-size: 0.7rem;
        margin-bottom: 10px;
        }
        .bd{

        }
        .sel-time{
            display: flex;
            background-color: #ffdfd7;
            padding: .5rem;
            align-items: center;
            .in{
               width: 180/@rem;
              padding: 0 10/@rem;
              height: 2rem;;
              border:0;
              font-size: .6rem;
            }
            span{
                flex: 1;
                text-align: center;
                color: #ec0022;
                font-weight: bold;
                letter-spacing: -2px;
            }
        }
    }
    .pop-fd{
        position: absolute;
        bottom:0;
        background-color: #ec0022;
        height: 80/@rem;
        padding: 2/@rem;
        display: flex;
        width: 100%;
        align-items: center;
        .btn{
            height: 100%;
            line-height: 78/@rem;
            flex: 1;
            text-align: center;
            color: #fff;
        }
        .cancle{
            background-color: #fff;
            color: #ec0022;
          }
    }
    .ui-switch{
        margin-left: -3.33%;
        .item{
            width: 30%;
            padding: 5px 0px;
            margin-left: 3.33%;
        }
    }
}

.currentBalance{
    padding: 20/@rem;
    &>li{
        display: flex;
        margin-bottom: 25/@rem;
        .iconfont{
             color: #ec0022;
             margin-right: 20/@rem;
             font-size: 38/@rem;
        }
        .cont{
            flex: 1;
        } 
        .key{
          font-size: 32/@rem;
          margin-bottom: 10/@rem;
          color: #000;
        }
        .val{
          color: #949494;
          
        }
    }
}

.my-field-pwd {
    position: relative;
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
}
.my-field-pwd label {
    color: #999;
    font-size: 16px;
    width: 105px;
}
.my-field-pwd input {
    height: 100%;
    position: absolute;
    left: 115px;
    right: 10px;
    z-index: 30;
    background: none;
    letter-spacing: 28px;
    padding-left: 18px;
    /* opacity: 0; */
    color: #ec0022;
    width: 144px;
    padding-right: 18px;
    text-shadow: #fff;
    -webkit-text-fill-color: transparent;
    transition: all 0.1s;
}
.my-field-pwd .allfill {
    left: 100px;
    padding-right: 0;
    width: 160px;
}
.my-field-pwd .analog-input {
    height: 36px;
    border-left: 1px solid #eee;
    position: absolute;
    top: 6px;
    left: 115px;
}
.my-field-pwd .analog-input span {
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 1px solid #eee;
    text-align: center;
    line-height: 33px;
    float: left;
    border-left: 0;
}
.my-field-pwd .analog-input span i {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 100%;
}